/* Resume inspiration (simple, clean, elegant) [https://dribbble.com/shots/1869995-Represent-Dashboard] */
body {
    font: 14px/1.5 Lato;
}

/* [GENERAL STYLES : START] */
.flex-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    flex-flow: column nowrap;
}

.section-label {
    align-self: center;
    padding: 35px 0 35px 0;
}

.entry {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 10px;
    word-wrap: break-word;
}

.entry-left {
    width: 325px;
}

.entry-right {
    width: 425px;
}

.class-online {
    padding: 0 5px 3px 5px;
    color: #6aa728;
    border-radius: 4px;
    font-variant: small-caps;
    font-weight: bold;
    cursor: default;
    background: #f3f3f3;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.tag {

    /* http://stackoverflow.com/questions/7300760/prevent-line-break-of-span-element */

    /* http://stackoverflow.com/questions/8753296/how-to-prevent-line-break-at-hyphens-on-all-browsers */
    white-space: nowrap;
    padding: 4px 8px;
    margin-bottom: 5px;
    margin-right: 3px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    cursor: default;
    color: #656d78;
    font-size: 13px;
    display: inline-block;
    background: #f3f3f3;
    line-height: 1.2em;
}

.contact-lmargin-fix {
    margin-left: 5px;
}

.text-link {
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.text-link:hover {
    border-bottom: 1px solid #0088CC;
    color: #0088CC;
}

.text-link:hover:after {

    /* [http://kaliko.com/blog/css-add-link-arrow-using-after-without/] [http://htmlarrows.com/] */
    position: absolute;    /* Prevent underline of arrow */
    padding-left: 2px;    /* Add a little space between text and arrow */
    content: "\00bb";    /* Unicode hex for » */
}

.text-size-16 {
    font-size: 16px;
}

.text-name {
    color: #4c4c4c;
    font-size: 30px;
}

.text-gray {
    color: #999;
}

.text-blue {
    color: #0088CC;
}

.text-silver {
    color: #656d78;
}

.text-600 {
    font-weight: 600;
}

.text-bold {
    font-weight: bold;
}

.text-unbold {
    font-weight: normal;
}

.ul-fix {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup {
    position: absolute;
    min-width: 200px;
    padding: 4px 0;
    margin: 0 0 0 -1px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    cursor: default;
}

.popup-item {
    padding: 5px 20px;
    font-size: 13px;
    white-space: nowrap;
}

.popup-item:hover {
    box-shadow: inset 2px 0 0 0 #4080ff;
}

.popup-label {
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bold;
}

.btn-default {
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    background: #f3f3f3;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 13px;
    color: rgb(95, 99, 106);
}

.btn-default:hover {
    background-color: #f0f0f0;
}

.btn-default:active {
    color: #cbcbcb;
}

.btn-default-active {
    pointer-events: none;
    color: rgb(45, 49, 56);
}

.none {
    display: none;
}

.noselect {

    /* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
    user-select: none;
}

/* [GENERAL STYLES : END] */

/* [CONTAINER STYLES : START] */

.cont-responsive {

    /* this will change based on the media queries */
    width: 850px;
    padding: 20px 20px 75px 20px;
}

.cont-contacts {
    position: absolute;
}

.cont-bio {
    background: #fff;
    padding: 75px 0 15px 0;
    border-radius: 4px;
}

.cont-biopic {
    margin-bottom: 10px;
}

.cont-role {
    padding-bottom: 20px;
}

.cont-welcome {
    text-align: center;
}

.img-biopic {
    display: block;
    width: 64px;
    height: 64px;
}

/* [CONTAINER STYLES : END] */

/* [MEDIA QUERIES STYLES : START] */
@media screen and (max-width:915px) {
    .cont-responsive {
        width: 750px;
    }

    .entry-left {
        width: 250px;
    }

    .entry-right {
        width: 400px;
    }

}

@media screen and (max-width:825px) {
    .cont-responsive {
        width: auto;
    }

    .entry-left {
        width: 200px;
    }

    .entry-right {
        width: 425px;
    }

}

@media screen and (max-width:725px) {
    .cont-responsive {
        width: auto;
    }

    .entry-left {
        width: 200px;
    }

    .entry-right {
        width: 360px;
    }

}

@media screen and (max-width:625px) {
    .cont-responsive {
        width: auto;
    }

    .section-label {
        padding-bottom: 25px;
    }

    .entry-left {
        width: 180px;
    }

    .entry-right {
        width: 275px;
    }

}

@media screen and (max-width:525px) {
    .cont-responsive {
        width: auto;
    }

    .entry {
        flex-flow: column nowrap;
    }

    .entry-left {
        width: auto;
    }

    .entry-right {
        width: auto;
        padding-top: 5px;
    }

    .skill-tag {
        margin-top: 5px;
    }

}

@media screen and (max-width:425px) {
    .text-name {
        font-size: 26px;
    }

}

@media screen and (max-width:325px) {
    .text-name {
        font-size: 22px;
    }

}

/* [MEDIA QUERIES STYLES : END] */